<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
		<param name="rtcm_topic" value="mavros/gps_rtk/send_rtcm"/>
		<param name="ntrip_server" value="$(env NTRIP_SERVER)"/>
		<param name="ntrip_stream" value="$(env NTRIP_STREAM)"/>
		<param name="ntrip_user"   value="$(env NTRIP_USER)"/>
		<param name="ntrip_pass"   value="$(env NTRIP_PASS)"/>
		<!-- lat, lon and alt will be provided via ros-->
  	</node>
</launch>

